<footer th:fragment="footer">
    <footer class="page-footer">
        <div class="footer-benefits-block clearfix">
            <div class="page-main clearfix"><p>
            </p>
                <div class="benefit-item-wrapper">
                    <div class="benefit-item choice-icon">
                        <span class="title">Богат избор</span>
                        <span class="description">Безброй модели</span>
                    </div>
                </div>
                <p>
                </p>
                <div class="benefit-item-wrapper">
                    <div class="benefit-item price-icon">
                        <span class="title">Ниски цени</span>
                        <span class="description">Много намаления</span>
                    </div>
                </div>
                <p>
                </p>
                <div class="benefit-item-wrapper">
                    <div class="benefit-item return-icon">
                        <span class="title">Лесно връщане</span>
                        <span class="description">До 14 дни </span>
                    </div>
                </div>
                <p>
                </p>
                <div class="benefit-item-wrapper">
                    <div class="benefit-item payment-icon">
                        <span class="title">Сигурно плащане</span>
                        <span class="description">По удобен начин</span>
                    </div>
                </div>
                <p>
                </p></div>
        </div>
        <div class="footer-newsletter-block clearfix">
            <div class="page-main clearfix">
                <div class="block newsletter" id="newsletter-footer-block">
                    <p class="newsletter-title">Абонирай се за нашия <strong>онлайн бюлетин</strong> сега!</p>
                    <p>Научавай веднага за намаления и нови попълнения!</p>
                    <p><a id="popup-trigger" class="action primary" href="#">Абониране</a></p></div>

            </div>
        </div>
        <div class="footer-top clearfix">
            <div class="footer-top-container clearfix">
                <div class="footer content">
                    <div class="footer-col col1"><a class="logo" href="https://multiplace-bg.net/" title="Multiplace"
                                                    aria-label="store logo">
                        <img src="https://creative-bg.net/static/version1699341782/frontend/Stenik/blank/bg_BG/images/creative.svg"
                             title="Creative" alt="Creative" width="190" height="100">
                    </a>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/drehshkibg/" title="Creative Facebook"
                               alt="Creative Facebook" class="social facebook" target="_blank" rel="”noopener”"></a>
                            <a href="https://www.instagram.com/creativebg/" title="Creative Instagram"
                               alt="Creative Instagram" class="social instagram" target="_blank" rel="”noopener”"></a>
                            <a href="https://www.youtube.com/channel/UCyK6g7xsNtmObrPD0z7ytzg" title="Creative YouTube"
                               alt="Creative YouTube" class="social youtube" target="_blank" rel="”noopener”"></a>
                            <a href="https://www.pinterest.com/creativedrehi/" title="Creative Pinterest"
                               alt="Creative Pinterest" class="social pinterest" target="_blank" rel="”noopener”"></a>
                            <a href="https://www.tiktok.com/@creativefashionshop" title="Creative Tiktok"
                               alt="Creative Tiktok" class="social tiktok" target="_blank" rel="”noopener”"></a>
                        </div>
                    </div>
                    <div class="footer-col expandable col2"><p class="footer-title">Creative</p>
                        <ul>
                            <li><a href="/">Начало</a></li>
                            <li><span class="clever-link" data-href="/za-nas">За нас </span></li>
                            <li><a href="/stores">Магазини</a></li>
                            <li><a href="/dropshiping">Дропшипинг</a></li>
                            <li><a href="/franchayzing">Франчайзинг</a></li>
                            <li><a href="/contact">Контакт</a></li>
                        </ul>
                    </div>
                    <div class="footer-col expandable col3"><p class="footer-title">Онлайн магазин</p>
                        <ul>
                            <li><span class="clever-link" data-href="/dostavka-i-plashtane">Доставка и плащане</span>
                            </li>
                            <li><span class="clever-link" data-href="/vrashtane-i-zamyana">Връщане и замяна</span></li>
                            <li><span class="clever-link" data-href="/virtualen-portfejl">Виртуален портфейл</span></li>
                            <li><span class="clever-link" data-href="/obshti-uslovia">Защита на лични данни</span></li>
                            <li><span class="clever-link" data-href="/obshti-uslovia">Общи Условия</span></li>
                            <li><span class="clever-link"
                                      data-href="/zakon-za-izdavane-na-kasov-bon-za-onlayn-targovtsi">Закон за онлайн търговци</span>
                            </li>
                            <li><span class="clever-link"
                                      data-href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">Онлайн решаване на спорове</span>
                            </li>
                        </ul>
                    </div>

                        <p class="footer-phones">За поръчки: <a href="tel:0892912933%20">0892912933 </a><br>За замeни:
                            <a href="tel:0892912933%20">0892912933 </a></p>
                        <p class="footer-mail"><a href="mailto:info@multiplace-bg.net">info@multiplace-bg.net</a></p></div>
                    <div class="footer-col col5">
                        <div class="footer-payments clearfix"><p class="footer-title"><span
                                style="white-space: pre-wrap;">Начини на плащане</span></p>
                            <p><span style="white-space: pre-wrap;"><img
                                    src="https://creative-bg.net/media/payment1.png" alt="VISA" width="50"
                                    height="41"><img src="https://creative-bg.net/media/payment2.png" alt="MasterCard"
                                                     width="50" height="41"><img
                                    src="https://creative-bg.net/media/payment3.png" alt="Maestro" width="50"
                                    height="41"><img src="https://creative-bg.net/media/icon_COD_footer.png" width="66"
                                                     height="40" alt="Наложен платеж"></span></p></div>
                        <div class="footer-delivery-methods clearfix"><p class="footer-title">Начини на доставка</p>
                            <p><img src="https://creative-bg.net/media/payment7.png" alt="" width="51" height="16"><img
                                    src="https://creative-bg.net/media/payment9.png" alt="" width="48" height="11"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom clearfix">
            <div class="footer content"><small class="copyright">Copyright © 2023 Multiplace-bg.net. Всички права
                запазени.</small>
                <a class="becreative" href="https://multiplace.bg/" title="Агенция за дигитален маркетинг"
                   target="_blank" rel="noopener">
                    Агенция за дигитален маркетинг</a>
            </div>
        </div>
    </footer>
</footer>