<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>-->
</head>


<body>
<!--<script type="text/javascript" src="/static/js/fetchApp.js" ></script -->

<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>
<div class="admin-div">
    <div class="container">
        <h2 class="text-center text-white">Admin page</h2>
    </div>
    <div class="col-md-666 ">
        <img class="center" width="20%" src="/images/admin.jpg" alt="Admin image">
    </div>


    <article class="functions">
        <th:block class="admin-block">
            <div class="container">
                <h2 class="text-center text-white">CUSTOMERS DETAILS</h2>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">UPDATE CUSTOMER DETAILS</button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">CHANGE CUSTOMER DETAILS</button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">ADD NEW CUSTOMER</button>
            </div>
            <div class="container">
                <h2 class="text-center text-white">PRODUCT DETAILS</h2>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">DELETE PRODUCT</button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">CHANGE PRODUCT DETAILS</button>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">ADD NEW OBJECT</button>
            </div>
        </th:block>
    </article>
</div>
<div>
    <footer></footer>
</div>
</body>
</html>