<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<head th:replace="~{fragments/head :: head}"></head>


<body>

<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-white">A page for all customers</h2>
</div>
<div th:replace="~{fragments/top :: top}"></div>
<div class="col-md-6 ">
    <img class="rounded" width="200%" src="/images/prolet.jpg" alt="Welcome image">
</div>
<main>
    <div class="container bg-blur rounded mt-5 mb-4">
        <h1 class="text-center text-white">Всички продукти за продажба :</h1>
        <form th:action="@{/api/orders}"
              th:method="post"
              class="shovelAddForm">
            <div class="row mt-3 mb-3">
                <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                    <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                    <div class="mt-3 rounded badge-info">
                        <img class="mr-2" src="/images/shovel.jpg" alt="Shovel" width="50px" height="50px">
<!--                        <span>Name: Shovel Price: 8 lv</span>-->
                        <label for="inputShovel">Име: <b>Лопата</b> Цена: 8 лв.</label>
                        <input th:type="number" th:min="0" class="form-control"
                               placeholder="Избери Количество"id="inputShovel" required>
                    </div>
                    <small class="text-danger"></small>
                    <button type="button" onclick="addShovelToOrder()"
                            class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                    </button>
                    <a class="ml-md-5 text-danger" href="/product/shovel">Описание</a>
                </div>
            </div>
        </form>

        <form th:action="@{/api/orders}"
              th:method="post"
              class="coserAddForm">
        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                <div class="mt-3 rounded badge-warning">
                    <img class="mr-2" src="/images/coser.jpg" alt="Coser" width="50px" height="50px">
                    <label for="inputCoser">Име: <b>Косер</b> Цена: 22 лв.</label>
                    <input th:type="number" th:min="0" class="form-control"
                           placeholder="Избери Количество"id="inputCoser" required>
                </div>


                <small class="text-danger"></small>
                <button type="button" onclick="addCoserToOrder()"
                        class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                </button>
                <a class="ml-md-5 text-danger" href="/product/coser">Описание</a>
            </div>

        </div>
        </form>


        <form th:action="@{/api/orders}"
              th:method="post"
              class="hammerAddForm">
            <div class="row mt-3 mb-3">
                <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                    <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                    <div class="mt-3 rounded badge-info">
                        <img class="mr-2" src="/images/hammer.jpg" alt="Hammer" width="50px" height="50px">
                        <label for="inputHammer">Име: <b>Чук кози крак</b> Цена: 34 лв.</label>
                        <input th:type="number" th:min="0" class="form-control"
                               placeholder="Избери Количество"id="inputHammer" required>
                    </div>


                    <small class="text-danger"></small>
                    <button type="button" onclick="addHammerToOrder()"
                            class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                    </button>
                    <a class="ml-md-5 text-danger" href="/product/hammer">Описание</a>
                </div>

            </div>
        </form>

        <form th:action="@{/api/orders}"
              th:method="post"
              class="MGHammerAddForm">
            <div class="row mt-3 mb-3">
                <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                    <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                    <div class="mt-3 rounded badge-warning">
                        <img class="mr-2" src="/images/magneticHammer.jpg" alt="MGHammer" width="50px" height="50px">
                        <label for="inputMGHammer">Име: <b>Чук магнитен</b> Цена: 49 лв.</label>
                        <input th:type="number" th:min="0" class="form-control"
                               placeholder="Избери Количество"id="inputMGHammer" required>
                    </div>


                    <small class="text-danger"></small>
                    <button type="button" onclick="addMGHammerToOrder()"
                            class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                    </button>
                    <a class="ml-md-5 text-danger" href="/product/magnetic-hammer">Описание</a>
                </div>

            </div>
        </form>

        <form th:action="@{/api/orders}"
              th:method="post"
              class="helmetAddForm">
            <div class="row mt-3 mb-3">
                <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                    <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                    <div class="mt-3 rounded badge-info">
                        <img class="mr-2" src="/images/hat.jpg" alt="Helmet" width="50px" height="50px">
                        <label for="inputHelmet">Име: <b>Строителна каска</b> Цена: 34 лв.</label>
                        <input th:type="number" th:min="0" class="form-control"
                               placeholder="Избери Количество"id="inputHelmet" required>
                    </div>


                    <small class="text-danger"></small>
                    <button type="button" onclick="addHelmetToOrder()"
                            class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                    </button>
                    <a class="ml-md-5 text-danger" href="/product/helmet">Описание</a>
                </div>

            </div>
        </form>

        <form th:action="@{/api/orders}"
              th:method="post"
              class="GlovesAddForm">
            <div class="row mt-3 mb-3">
                <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                    <h3 class="mySticky bg-gray text-dark rounded">Tools</h3>
                    <div class="mt-3 rounded badge-warning">
                        <img class="mr-2" src="/images/gloves.jpg" alt="Gloves" width="50px" height="50px">
                        <label for="inputGloves">Име: <b>Работни ръкавици</b> Цена: 3 лв.</label>
                        <input th:type="number" th:min="0" class="form-control"
                               placeholder="Избери Количество"
                               id="inputGloves"  required>
                    </div>

                    <small class="text-danger"></small>
                    <button type="button" onclick="addGlovesToOrder()"
                            class="btn btn-warning mb-3r"><span>Дообавяне към заявката</span>
                    </button>
                    <a class="ml-md-5 text-danger" href="/product/gloves">Описание</a>
                </div>
            </div>
        </form>

        <a href="/orders/by/all" class="btn btn-danger" id="ordersSumBtn" th:text="|Списък със заявени продукти:  | "></a>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
<script src="/js/OrderingShovel.js"></script>
<script src="/js/OrderringCoser.js"></script>
<script src="/js/OrderingGloves.js"></script>
<script src="/js/OrderingHammer.js"></script>
<script src="/js/OrderingHelmet.js"></script>
<script src="/js/OrderingMagneticHammer.js"></script>
<script src="/js/BuyGloves.js"></script>
<script>
    document.getElementById('ordersSumBtn').addEventListener('click', function () {
        buyGloves();
    });
</script>
</body>
</html>