<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">A page for companies</h2>
</div>
<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--  <ul class="navbar-nav mr-auto col-12 justify-content-between">-->
<!--    <th:block th:if="${ ако е админ ...}" >-->
<!--    <li class="nav-item">-->
<!--      <div class="button-holder d-flex justify-content-center">-->
<!--        <button type="submit" class="btn btn-warning  mb-3" value="Register"> CUSTOMER LIST</button>-->
<!--      </div>-->
<!--    </li>-->
<!--    </th:block>-->
<!--  </ul>-->
<!--</div>-->
<div>
  <footer></footer>
</div>
</body>
</html>