<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>
<div class="product-wrapper"
     th:method="post"
     th:action="@{/product/hammer}">
    <div class="product-element-top wd-quick-shop" ><a
            class="product-image-link">

        <img  src="/images/hammer.jpg"  width="600" height="600"
              alt="Предпазна Каска"
              sizes="(max-width: 600px) 100vw, 600px"
        >

    </a>
        <div class="wd-buttons wd-pos-r-t">
            <div class="wd-wishlist-btn wd-action-btn wd-style-icon wd-wishlist-icon"><a
                    class="wd-tltp wd-tooltip-inited"
                    rel="nofollow" data-added-text="Browse Wishlist"><span
                    class="wd-tooltip-label"> Описание и Употреба - </span> <span>Чук кози крак с извита форма на главата за изваждане на пирони. Полирана и частично лакирана работна част.
        Дръжката е дървена от дъбов материал. Прецизно оформена за удобен захват.</span>
            </a></div>
        </div>
    </div>
    <div class="product-element-bottom"><h3 class="wd-entities-title"><a>Чук кози крак – извит, 200 гр.
        – ЧУК</a></h3>
    </div>
    <form class="mx-auto w-25 bg-blur rounded" method="" action="/pages/all">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="condition" class="h4 mb-2">Количество</label>
            </div>
            <select class="browser-default custom-select" id="condition" name="condition">
                <option value="">Избери количество</option>
                <option value="x 10 boxes">x 10 BOXES</option>
                <option value="x 20 BOXES">x 20 BOXES</option>
                <option value="x 30 BOXES">x 30 BOXES</option>
                <option value="x 40 boxes">x 40 BOXES</option>
                <option value="x 50 boxes">x 50 BOXES</option>
                <option value="x 60 boxes">x 60 BOXES</option>
                <option value="x 70 boxes">x 70 BOXES</option>
                <option value="x 80 boxes">x 80 BOXES</option>
                <option value="x 90 boxes">x 90 BOXES</option>
            </select>

            <small class="text-danger"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" href="/pages/all" class="btn btn-warning  mb-3" value="Order">Add order</button>
        </div>


        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">For larger quantities, call or contact us in the contact gallery</button>
        </div>

    </form>
</div>
</body>
</html>