<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<div th:replace="~{fragments/navbar :: navbar}">
    Navbar
</div>
<div>
    <main class="p-5 align-content-center bg-blur my-register-div">

        <div class="container mt-5">

            <div class="c1">
                <form
                        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                    <img src="https://www.kpd.bg/storage1/images/branches/offer34463/pic54620/D.jpg" class=""
                         alt="KPD.BG - Продава се маркетплейс платформа за онлайн пазаруване / онлайн супермаркет">
                    <div class="button-holder d-flex justify-content-center">
                        <button id="ordersLoadList" type="button"
                                class="btn btn-warning  mb-3" value="Register">ORDERS LIST
                            <!--                                onclick="location.href='/api/orders'"-->
                        </button>
                        <section>
                            <table>
                                <thead>
                                <tr>
                                    <th>TIME</th>
                                    <th>CUSTOMER</th>
                                    <th>TOOLS</th>
                                    <th>QUANTITY</th>
                                    <th>PRICE</th>
                                    <th>OPERATION</th>
                                </tr>
                                </thead>
                                <tbody id="orders-container">
                                </tbody>
                            </table>
                        </section>
                    </div>

                </form>
            </div>
            <div class="buttons">
                <!--                <button th:href="/orders/by/all" class="btn  btn-outline-primary px-4">Back</button>-->
                <!--                                       <button class="btn btn-primary px-4 ms-3">Contact</button>-->
            </div>
        </div>
    </main>
</div>
<script src="/js/CompanyApp.js"></script>
<script src="/js/OrdersApp.js"></script>
</body>
<footer></footer>
</html>
